---
import { SITE } from "@config";

export interface Props {
    title: string;
    description?: string;
    ogImage?: string;
    canonicalURL?: string;
    pubDatetime?: Date;
    modDatetime?: Date;
}
const {
  title = SITE.title,
  description = SITE.desc,
  ogImage = SITE.ogImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  pubDatetime,
  modDatetime,
  scrollSmooth = false,
  domain = SITE.domain,
  analyticsEnabled = SITE.analyticsEnabled,
  font = SITE.font
} = Astro.props;


const socialImageURL = new URL(
  ogImage ?? SITE.ogImage ?? "og.png",
  Astro.url.origin
).href;
---
<meta charset="utf-8" />

    {SITE.title === title ? <title>{title}</title> : <title>{title} | {SITE.title}</title>}
    <meta name="title" content={title} />
    <meta name="description" content={description} />
      <meta property="og:title" content={title} />
      <meta property="og:description" content={description} />
      <meta property="og:url" content={canonicalURL} />
      <meta property="og:image" content={socialImageURL} />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<link
  href={`https://fonts.googleapis.com/css2?family=${font.replaceAll(' ', '+')}:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap`}
  rel="stylesheet"
/>

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />
    <link rel="sitemap" href="/sitemap-index.xml" />

{
      analyticsEnabled && (
        <script
          defer
          data-domain={SITE.cf.name}
          src="https://plausible.io/js/script.js"
        />
      )
    }
