---
import { SITE } from "@config";
import { dateFormat } from "@lib/utils/dateFormat";

export interface Props {
  post: any;
  url?: string;
}

const { post, url } = Astro.props;
---

<div class="col-lg-6">
  <div class="card card-hover mb-5 mx-lg-2">
    <div class="card-body pt-5 px-5 pb-4 text-center">
      <h2 class="card-title mb-4">
        <a
          class="stretched-link"
          href={`${SITE.website}${url}${post.data.slug}`}
          >{post.data.title}</a
        >
      </h2>
      <p class="small">
        <span class="text-uppercase">{dateFormat(post.data.modDatetime)}</span>
      </p>
      <p class="card-text">{post.data.description}</p>
      <p>
        {
          post.data.tags &&
            post.data.tags.map((tag: any) => (
              <a
                href={`${SITE.website}tag/${tag}/`}
                class="link-tag text-dark"
              >
                #{tag}
              </a>
            ))
        }
      </p>
    </div>
  </div>
</div>
